

<% if flash["errors"] %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(flash["errors"].count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% flash["errors"].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f|%>
    <%= f.label :title%><br>
    <%= f.text_field :title%><br>

    <%= f.label :content%><br>
    <%= f.text_area :content%><br>

    <label for="tags"> Tags
        <p id="tags"> <%=@post.show_tags%></p>
    </label>
    <%= select(:post, :user_id, @user_options) %><br>
    <%= f.collection_select(:tag_ids, @tags, :id, :name, {:prompt => "Please Select a tag"}, {:multiple => true}) %>
    

    <%= f.submit "Save new post"%>
  
   
<%end%>
