<!DOCTYPE html>
<html>
  <head>
    <title>CodesRepositoryProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/tags/new">Create New Tag</a> ||
      <a href="/users">all the users</a> ||
      <a href="/users/new">Create a new User</a> ||
      <a href="/posts/new">Create a new post</a> ||
      <a href="/posts">all the posts</a><br><br>
    </nav>
    <%= yield %>
  </body>
</html>
